.content{
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    height: 100%;
    width: 100%-10px;
    background-color: #ff5959;
}
.comments{
    background-color: #ff8e32;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    height: auto;
}
.buttons{
    background-color: #ff8e32;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    height: auto;
}
.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
}
.like-button{
    background-color: #ff8e32;
    margin: 5px, 5px, 5px, 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    height: auto;
}
.like-counter{
    background-color: #ff8e32;
    margin: 5px, 5px, 5px, 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    height: auto;
}