body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#welcomeDiv{
    position: inherit;
    top: 2vh;
    left: 10vw;
    color: whitesmoke;
    font-size: 5vh;
    font-weight: 900;
    text-shadow: 4px 4px 15px #000;
}

#exit{
    position: absolute;
    width: 6vw;
    top: 92vh;
    left: 47vw;
    border-radius: .1vw;
    box-shadow: 0px 0px 10px #cdebacf8;
    transition: 0.2s;
}

#exit:hover {
    width: 6.2vw;
    box-shadow: 0px 0px 20px #cdebac;
    left: 46.9vw;
}
