body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(58, 58, 58);
    height: 3vh;
    width: 100vw;
    transition: .8s;
    
}

nav:hover{
    height: 7vh;
}

nav div{
    float: left;
    height: 100%;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div a{
    color: whitesmoke;
}

#overlay{
    position: absolute;
    top: 5vh;
    left: 0;
    width: 100vw;
    height: 95vh;
}

#userImgDiv{
    float: right;
}

#userImg{
    height: 80%;
}

#welcomeDiv{
    position: inherit;
    top: 2vh;
    left: 10vw;
    color: whitesmoke;
    font-size: 5vh;
    font-weight: 900;
    text-shadow: 4px 4px 15px #000;
}


footer{
    position: absolute;
    right: 2vw;
    bottom: 1vh;
    line-height: .5vh;

}




/*Hallway Scene*/

#exit{
    position: absolute;
    width: 6vw;
    top: 90%;
    left: 47vw;
    border-radius: .1vw;
    box-shadow: 0px 0px 10px #cdebacf8;
    transition: 0.2s;
}

#exit:hover {
    width: 6.2vw;
    box-shadow: 0px 0px 20px #cdebac;
    left: 46.9vw;
}
