body{
  position: relative;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

/* classic */
#classicContent{
  margin-top: 3vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 1;
}

#classicContent div{
  height: 23vw;
  width: 23vw;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  background-color: #ffb432ca;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1%;
}

#classicContent div img{
  max-width: 90%;
  max-height: 90%;
}

#classicContent div:hover{
  border-radius: 15px;
  transform: scale(1.02);
}

/* width */
::-webkit-scrollbar {
  z-index: 0;
  width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }