body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(58, 58, 58);
    height: 3vh;
    width: 100vw;
    transition: .8s;
    
}

nav:hover{
    height: 7vh;
}

nav div{
    float: left;
    height: 100%;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div a{
    color: whitesmoke;
}

#overlay{
    position: absolute;
    top: 5vh;
    left: 0;
    width: 100vw;
    height: 95vh;
}

#userImgDiv{
    float: right;
}

#userImg{
    height: 80%;
}

#welcomeDiv{
    position: inherit;
    top: 2vh;
    left: 10vw;
    color: whitesmoke;
    font-size: 5vh;
    font-weight: 900;
    text-shadow: 4px 4px 15px #000;
}


footer{
    position: absolute;
    right: 2vw;
    bottom: 1vh;
    line-height: .5vh;
    color: whitesmoke;
    text-shadow: 0px 0px 5px black;

}

/*Hallway Scene*/
#exit{
    position: absolute;
    width: 6vw;
    top: 90%;
    left: 47vw;
    border-radius: .1vw;
    box-shadow: 0px 0px 10px #cdebacf8;
    transition: 0.2s;
}

#exit:hover {
    width: 6.2vw;
    box-shadow: 0px 0px 20px #cdebac;
    left: 46.9vw;
}

/*login*/ 
#login{
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    visibility: hidden;
    text-align: center;
    z-index: 1;
}
.signup{
    background-color: rgb(247, 114, 114);
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: .1vw;
    box-shadow: 0px 0px 10px #cdebacf8;
    transition: 0.2s;
    float: left;
}

.signin{
    background-color: rgb(255, 188, 64);
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: .1vw;
    box-shadow: 0px 0px 10px #cdebacf8;
    transition: 0.2s;
    float: right;
}
.loginform{
    margin: 5%;
    padding: 2%;
}
.loginform input{
    width: 100%;
    padding: 1%;
    margin: 1%;
    border-radius: .1vw;
    border: none;
    box-shadow: 0px 0px 10px #cdebacf8;
}
div.signup{
    text-align: center;
    font-size: 6vh;
    color: whitesmoke;
    font-weight: 900;
    text-shadow: 4px 4px 15px #000;
    font-family: 'Courier New', Courier, monospace;
}
div.signin{
    text-align: center;
    font-size: 6vh;
    color: whitesmoke;
    font-weight: 900;
    text-shadow: 4px 4px 15px #000;
    font-family: 'Courier New', Courier, monospace;
}

/*content popup*/
#content{
    position: absolute;
    top: 10vh;
    left: 5vh;
    height: 80vh;
    width: 90vw;
    visibility: hidden;
    z-index: 1;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    background-color: #ff5959;
    display: flex;
}

#content div{
    border-radius: 5px;
    margin: 1%;
}

#content img{
    max-height: 80%;
}

#comments{
    background-color: #ff8e32;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    width: 90%;
}

.buttons{
    background-color: #ff8e32;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    height: auto;
}
.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
}
.like-button{
    background-color: #ff8e32;
    margin: 5px, 5px, 5px, 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    height: auto;
}
.like-counter{
    background-color: #ff8e32;
    margin: 5px, 5px, 5px, 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    height: auto;
}